body {
	margin : 0;
	position: absolute;
	width: 100%;
}

div.InstagramApi {
	display: flex;
	flex-direction: row;
}

div.column {
	display: flex;
	flex-direction: column;
	padding: 25px;
}

div.author {
	font-weight:bold;
}

div.post {
	width: 300px;
	overflow: hidden;
	margin : 15px 0;
	box-shadow: 0 0 5px grey;
}

div.logo {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	padding-right: 10px;
}

div.head {
	margin: 12px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

div.info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-grow : 1;
}

div.about {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

div.head > div {
	font-size: 10pt;
}

div.author {
	flex-grow : 1;
}

div.author, div.location {
	display: flex;
	align-items: center;
}

div.date {
	align-self: center;
	color: grey;
}

div.logo img{
    max-width: 100%;
    max-height: 100%;
	border-radius: 50%;
}

div.img {
	width: 100%;
}

div.img img{
    width: 100%;
    height: 100%;
}

div.desc {
	margin: 12px;
	margin-bottom: 30px;
	font-size: 9pt;
}

div.likes {
	margin: 10px 0;
	font-size: 10pt;
}

.mob .post {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	width: 650px;
	height: 320px;
}

.mob .img {
	width: 320px;
	min-height: 320px;
	height: 320px;
	overflow: hidden;
	order : 0;
}

.mob .head {
	order: 1;
	border-bottom: 1px solid #e6e6e6;
}

.mob .desc {
	order: 2;
	width: 310px;
}